<footer>
  <div class="footer-content">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s</p>
    <ul>
      <li><a href="#">Follow us on</a></li>
      <li><a href="#">in</a></li>
      <li><a href="#">O</a></li>
    </ul>
    <ul>
      <li><a href="#">News</a></li>
      <li><a href="#">Tournaments</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">E-Books</a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 LOGO. All Rights Reserved.</p>
    <ul>
      <li><a href="#">Privacy policies</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</footer>
